.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.titleContainer {
  display: flex;
  position:fixed;
  top: .1vh;
  align-content: center;
  justify-content: center;
  width: 100vw;
  /* border-bottom: .5px solid black */
}

.anotherOne {

}

.prophecy {
  display: none;
  position: fixed;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
  top: 8em;
  background-color: #ffff;
  opacity: .9;
  max-width: 80%;

}


/* .videoWrapper {
  height: 99vh;
  width: 99vw;
  overflow: none;
} */

.video {
  width: 100vw;
  height: 100vh;
  z-index: -999;
  postion: fixed;
  /* min-width: 100%;
  min-height: 100%;
  object-position: 50% 50%; */
}

.btncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4em;
  left: auto;
  width: 100%;
}

.centerbtn {
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  background-color: white;
  transition-duration: 0.2s;
  font-size: 16px;
  outline: none;
}

.centerbtn:hover {
  color: white;
  background-color: black;
}

.shareContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
  position: fixed;
  bottom: 30vh;
  left: 1vw;
}

.SocialMediaShareCount {
  position: relative;
  left: 22px;
  top: -37px;
}

/* .blink{
color: black;
}

@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

span{
		animation: blink 4s linear infinite;
} */

@media only screen and (min-width: 768px) {
  .prophecy {

  }
  .anotherOneVid {

  }
  .btncontainer {

  }
  .centerbtn {

  }
  .centerbtn:hover {

  }
}
